__pycache__
.pytest_cache

Base/config/config.local.yml
.vscode/settings.json
run_cloud_experiments/Pipfile.lock
run_cloud_experiments/config/config.yml
run_cloud_experiments/config/experiments.yml
run_cloud_experiments/output/**
HOLON-cloudclient/
