[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pyyaml = "*"
requests = "*"

[dev-packages]
pytest = "*"
pylint = "*"

[requires]
python_version = "3.9"

[scripts]
tests = "python -m pytest"
